#container{
    display: grid;
    grid-template-columns: repeat(2,auto);
    width: 95vw;
    height: 95vh;
    

}
#left{
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    
}

#up{

    background-color: rgba(59,130,246,.5);
    
    
}
#center{
    display: grid;
    grid-template-columns: 0.5fr 6fr;

    /* background-color: rgb(45, 58, 58); */

}
#left1{
    background-color: rgba(59,130,246,.5);


}
#right1{

    background-color: rgba(171, 178, 189, 0.5);
}
#down{

    background-color: rgba(59,130,246,.5);

}
/* right side */



#right{
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    
}

#upl{

    background-color:rgba(204, 215, 232, 0.5);
    
    
}
#centerl{
    display: grid;
    grid-template-columns:6fr 0.5fr ;

    

}
#right1l{
    background-color: rgba(19, 26, 36, 0.5);


}
#left1l{

    background-color: rgba(204, 215, 232, 0.5);
}
#downl{

    background-color: rgba(204, 215, 232, 0.5);

}
#btn{
    background-color: blue;
    padding: 10px;
    text-align: center;
    margin-left: 30%;
    padding-left: 120px;
    padding-right: 120px;
}
input{
    margin-left: 30%;
}
p{
    margin-left: 30%;
}
h5{
    margin-left: 30%;
}
h2{
    margin-left: 30%;
}
fieldset{
    height: 500px;
    width: 3px;
}



